{% extends 'layouts/app.twig' %}
{% block title %}Home{% endblock %}
{% block pageclass %}home{% endblock %}

{% block loader %}
    <div class="loading-page is--loading">
        <div class="loader">Loading...</div>
    </div>
{% endblock %}

{% block content %}
    
{% include 'partials/header.twig' %}

<section class="hero">
    <div class="hero__container container">
        <div class="hero-carousel">
            {% for slide in slides %}
                <div class="slide">
                    <div class="column-6 image-container">
                        <img src="/assets/uploads/hero-slides/{{ slide.id }}/featured.png" draggable="false">
                    </div>
                    <div class="column-6 text-container">
                        <h1>{{ slide.heading }}</h1>
                        <h2>{{ slide.subtitle }}</h2>
                        <p>{{ slide.description }}</p>
                        <a href="{{ slide.link }}" class="button {{ slide.button_display }}" target="_blank">{{ slide.link_name }}</a>
                        <img src="/assets/img/hr-center.png" draggable="false" class="rule">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="about" id="shop">
    <div class="cta container">
        <div class="column-4 buy">
            <img src="/assets/img/buy-supplements.jpg" draggable="false">
            <a href="https://fl3x-life.myshopify.com/collections/nutrition" target="_blank">Buy FL3X Supplements</a>
        </div>
        <div class="column-4 membership-special">
            <p>April Fuels</p>
            <p><span>No key tag fee, join today and save $10, pay only the enrolment fee and your first month.</span></p>
            {# <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=40" class="button" target="_blank">Book Now</a> #}
        </div>
        <div class="column-4 buy">
            <img src="/assets/img/buy-clothing.jpg" draggable="false">
            <a href="https://fl3x-life.myshopify.com/collections/all" target="_blank">Buy FL3X Clothing</a>
        </div>
    </div>

    <div class="about__container container">
        <div class="wrapper">
            <h2>About FL3X Fitness</h2>
            <img src="/assets/img/hr-left.png" draggable="false" class="rule">
            <p><span>FL3X Fitness Aims to Pump You Up!</span></p>
            <p>Carlos Puckerin and Chris Brookbanks, who have each lost 100lbs, launched FL3X Fitness at 10700 Tecumseh Road East. We understand how difficult it can be to make a huge weight loss and fitness commitment, so we’re doing our best to make it easier for our members. We also provide nutritional and diet information, so our members can make a commitment to eating healthy meal. We’ve created a strong membership experience for all of our members, no matter what your fitness level and goals are when you first walk through the doors. The club features a cardio are upfront, facing Tecumseh Road and a large weight room in the rear of the building.</p>
        </div>
        <iframe src="https://player.vimeo.com/video/245256602?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>

<section class="sif">
    <div class="sif__container container">
        <h2>Spring Into Fitness</h2>
        <img src="/assets/img/hr-center.png" draggable="false" class="rule">
        <p class="byline">Take advantage of this personal training promotion and save $300! Membership includes: 1 month Bronze membership; 8 personal training sessions; Custom meal plan.</p>

        <div class="promo__container container--full">
            <div class="column-3">
                <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=76" target="_blank">
                    <img src="/assets/img/sif-8-half-hours.jpg" alt="Fl3x Fitness presents Spring Into Fitness! $299 - Save $300! ($599 value). For 8 half hour personal training sessions, custom meal program, & a bronze gym membership. 10700 Tecumseh Rd. East. www.fl3xlife.com | (519) 979-6622" draggable="false">
                    <p class="button">8 Half Hours</p>
                </a>
            </div>

            <div class="column-3">
                <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=80" target="_blank">
                    <img src="/assets/img/sif-12-half-hours.jpg" alt="Fl3x Fitness presents Spring Into Fitness! Only $429. For 12 half hour personal training sessions, custom meal program, & a bronze gym membership. 10700 Tecumseh Rd. East. www.fl3xlife.com | (519) 979-6622" draggable="false">
                    <p class="button">12 Half Hours</p>
                </a>
            </div>

            <div class="column-3">
                <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=82" target="_blank">
                    <img src="/assets/img/sif-8-hours.jpg" alt="Fl3x Fitness presents Spring Into Fitness! Only $399. For 8 hour long personal training sessions, custom meal program, & a bronze gym membership. 10700 Tecumseh Rd. East. www.fl3xlife.com | (519) 979-6622" draggable="false">
                    <p class="button">8 Full Hours</p>
                </a>
            </div>

            <div class="column-3">
                <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=84" target="_blank">
                    <img src="/assets/img/sif-12-hours.jpg" alt="Fl3x Fitness presents Spring Into Fitness! Only $599. For 12 hour long personal training sessions, custom meal program, & a bronze gym membership. 10700 Tecumseh Rd. East. www.fl3xlife.com | (519) 979-6622" draggable="false">
                    <p class="button">12 Full Hours</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="schedule" id="schedule">
    <div class="schedule__container container">
        <h2>Class Schedule</h2>
        <img src="/assets/img/hr-center.png" draggable="false" class="rule">
        <p class="byline">Our group classes are all taught by certified and experienced instructors who love the energy of bringing people who all want to better themselves together. Come try out a bootcamp class if you’re looking for motivation, drive, and someone to push you through a tough 60 minute workout. When you’re surrounded by people pushing themselves, you can’t quit!</p>

        <div class="classes__container container--full">
            <div class="column-6">
                <div class="container--full">
                    <div class="column-7">
                        <img src="/assets/img/hiit-training.jpg" draggable="false">
                    </div>
                    <div class="column-5">
                        <h3>HIIT Training</h3>
                        <p><span>Instructors: Theo, Mark, Lauren</span></p>
                        <p>Monday - 2pm, 7pm</p>
                        <p>Wednesday - 2pm, 7pm</p>
                        <p>Friday - 7pm</p>
                        <a href="/assets/uploads/schedules/{% for item in schedules %}{% if 'HIIT Training' in item.title %}{{ item.id }}/schedule.jpg{% endif %}{% endfor %}" class="button" target="_blank">View Schedule</a>
                    </div>
                </div>
            </div>

            {# <div class="column-6">
                <div class="container--full">
                    <div class="column-7">
                        <img src="/assets/img/reps-retirement.jpg" draggable="false">
                    </div>
                    <div class="column-5">
                        <h3>Reps for Retirement</h3>
                        <p><span>Instructor: Mark</span></p>
                        <p>Tuesday - 10:30am</p>
                        <p>Thursday - 10:30am</p>
                        <a href="/assets/uploads/schedules/{% for item in schedules %}{% if 'Reps for Retirement' in item.title %}{{ item.id }}/schedule.jpg{% endif %}{% endfor %}" class="button" target="_blank">View Schedule</a>
                    </div>
                </div>
            </div> #}

            {# <div class="column-6">
                <div class="container--full">
                    <div class="column-7">
                        <img src="/assets/img/cycling.jpg" draggable="false">
                    </div>
                    <div class="column-5">
                        <h3>Spin Class</h3>
                        <p><span>Instructor: Holly</span></p>
                        <p>Monday - 7am</p>
                        <p>Wednesday - 7am</p>
                        <a href="/assets/uploads/schedules/{% for item in schedules %}{% if 'Spin Class' in item.title %}{{ item.id }}/schedule.jpg{% endif %}{% endfor %}" class="button" target="_blank">View Schedule</a>
                    </div>
                </div>
            </div> #}

            <div class="column-6">
                <div class="container--full">
                    <div class="column-7">
                        <img src="/assets/img/yoga.jpg" draggable="false">
                    </div>
                    <div class="column-5">
                        <h3>Yoga Class</h3>
                        <p><span>Instructor: Jordan</span></p>
                        <p>Monday - 8:15pm</p>
                        <p>Tuesday - 8:15pm</p>
                        <p>Thursday - 8:15pm</p>
                        <a href="/assets/uploads/schedules/{% for item in schedules %}{% if 'Yoga Class' in item.title %}{{ item.id }}/schedule.jpg{% endif %}{% endfor %}" class="button" target="_blank">View Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        
        <a href="/assets/uploads/schedules/{% for item in schedules %}{% if 'Full Calendar' in item.title %}{{ item.id }}/schedule.jpg{% endif %}{% endfor %}" class="button" target="_blank">Full Calendar</a>
    </div>
</section>

<section class="instructors" id="instructors">
    <div class="instructors__container container">
        <h2>Our Instructors</h2>
        <img src="/assets/img/hr-center.png" draggable="false" class="rule">
        <p class="byline">Our instructors are experienced and certified in many aspects of health and fitness. From weight loss journeys of over 100lbs, to weight gain, our trainers have experienced it for themselves and have all gone through a transformation. Check out each trainer's individual profile by clicking on the buttons below.</p>
        <div class="trainer__container container--full">
            {% for instructor in instructors %}
                <div class="trainer column-3">
                    <div class="img-container">
                        <img src="/assets/uploads/instructors/{{ instructor.id }}/featured.jpg" draggable="false">
                    </div>
                    <div class="details-container">
                        <h4>{{ instructor.name }}</h4>
                        <p>{{ instructor.title }}</p>
                        <div class="socials">
                            {% if instructor.twitter != NULL %}
                                <a href="{{ instructor.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if instructor.facebook != NULL %}
                                <a href="{{ instructor.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if instructor.instagram != NULL %}
                                <a href="{{ instructor.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                            {% endif %}
                        </div>
                        <a class="button" href="{{ path_for('trainerBio', { 'id': instructor.id }) }}">Full Bio</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="memberships" id="memberships">
    <div class="memberships__container container">
        <h2>Memberships</h2>
        <img src="/assets/img/hr-center.png" draggable="false" class="rule">
        <p class="byline">We offer a variety of different memberships to fit each person’s needs. We also have more options available on site.</p>
        <div class="plans__container container--full">
            <div class="plan column-4">
                <div class="img-container">
                    <img src="/assets/img/basic-plan.jpg" draggable="false">
                </div>
                <div class="price">
                    <p><span>$29.99</span></p>
                    <p>Per Month</p>
                </div>
                <div class="details">
                    <h3>Bronze Plan</h3>
                    <p>Gym Access</p>
                    <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=34" class="button" target="_blank">Book Now</a>
                </div>
            </div>

            <div class="plan column-4 middle">
                <div class="img-container">
                    <img src="/assets/img/professional-plan.jpg" draggable="false">
                </div>
                <div class="price">
                    <p><span>$49.99</span></p>
                    <p>Per Month</p>
                </div>
                <div class="details">
                    <h3>Gold Plan</h3>
                    <p>24 Hour Gym Access</p>
                    <p>Unlimited Guest Passes</p>
                    <p>Unlimited Classes</p>
                    <p>Unlimited Child Watch</p>
                    <p>Unlimited Tanning</p>
                    <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=40" class="button" target="_blank">Book Now</a>
                </div>
            </div>

            {# <div class="plan column-4">
                <div class="img-container">
                    <img src="/assets/img/middle-plan.jpg" draggable="false">
                </div>
                <div class="price">
                    <p><span>$69.99</span></p>
                    <p>Per Month</p>
                </div>
                <div class="details">
                    <h3>Platinum Plan</h3>
                    <p>Unlimited guest passes</p>
                    <p>24 hour access</p>
                    <p>Free tanning</p>
                    <p>Unlimited classes</p>
                    <p>Unlimited child watch</p>
                    <p>Your choice of: </p>
                    <p>2 free personal training sessions per month</p>
                    <p>Or</p>
                    <p>1 free program design per month</p>
                    <a href="https://fl3xfitness.antaris.ca/online_memberships_buy.php?mat_id=38" class="button" target="_blank">Book Now</a>
                </div>
            </div> #}

            <div class="column-12 custom-plan">
                <p>*For custom membership details call 519-979-6622 or visit the club.</p>
            </div>
        </div>
    </div>
</section>

<section class="stories" id="stories">
    <div class="stories__container container">
        <h2>Success Stories</h2>
        <img src="/assets/img/hr-left.png" draggable="false" class="rule">

        <div class="testimonies__container container--full">
            {% for testimony in testimonies %}
                <div class="testimony">
                    <div class="container--full">
                        <div class="column-7">
                            <p><span>{{ testimony.quote }}</span></p>
                            <p>{{ testimony.description }}</p>
                            <div class="author">
                                <h4>{{ testimony.name }}</h4>
                                <p>{{ testimony.role }} at FL3X Fitness</p>
                            </div>
                        </div>
                        <div class="column-5">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'partials/footer.twig' %}
    
{% endblock %}
