{% extends 'layouts/app.twig' %}
{% block pageclass %}auth{% endblock %}
{% block title %}Instructors{% endblock %}

{% block content %}

{% include 'dashboard/header.twig' %}

<section class="instructors index">
    <div class="index__container container">
        <div class="title-bar">
            <h1>Instructors</h1>
            <a href="{{ path_for('instructors.create') }}" class="button">Create New</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Avatar</td>
                    <td>Name</td>
                    <td>Title</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <div class="img-container">
                                <img src="/assets/uploads/instructors/{{ instructor.id }}/featured.jpg" draggable="false">
                            </div>
                        </td>
                        <td><a href="{{ path_for('instructors.view', { 'id': instructor.id }) }}">{{ instructor.name }}</a></td>
                        <td>{{ instructor.title }}</td>
                        <td><a href="{{ path_for('instructors.edit', { 'id': instructor.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="{{ path_for('instructors.delete', { 'id': instructor.id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>

{% endblock %}
