<div class="modal" data-modal="contact">
    <div class="block column-6">
        <div class="inner">
            <p class="close">x</p>
            <h2>Contact Us</h2>
            <form action="{{ path_for('home') }}" class="form contact-form">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="tel" name="phone" placeholder="Phone Number">
                <textarea name="message" placeholder="Message"></textarea>
                <button class="submit button">Submit</button>
            </form>
        </div>
    </div>
</div>

{% for item in instructors %}
    <div class="modal instructor-modal" data-modal="{{ item.id }}">
        <div class="block column-6">
            <div class="inner">
                <p class="close">x</p>
                <div class="content">
                    <img src="/assets/uploads/instructors/{{ item.id }}/featured.jpg" draggable="false">
                    <div class="about-instructor">
                        <h2>{{ item.name }}</h2>
                        <h3>{{ item.title }}</h3>
                        {{ markdown(item.bio)|raw }}
                        {% if item.facebook != NULL %}
                            <p>Facebook: <a href="{{ item.facebook }}" target="_blank">{{ item.facebook }}</a></p>
                        {% endif %}
                        {% if item.twitter != NULL %}
                            <p>Twitter: <a href="{{ item.twitter }}" target="_blank">{{ item.twitter }}</a></p>
                        {% endif %}
                        {% if item.instagram != NULL %}
                            <p>Instagram: <a href="{{ item.instagram }}" target="_blank">{{ item.instagram }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}