<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}#shop">Shop</a></li>
        <li><a href="{{ path_for('home') }}#schedule">Schedule</a></li>
        <li><a href="{{ path_for('home') }}#instructors">Instructors</a></li>
        <li><a href="{{ path_for('home') }}#memberships">Memberships</a></li>
        <li><a href="{{ path_for('home') }}#stories">Success Stories</a></li>
        <li><button class="modal__trigger">Contact</button></li>
    </ul>
</div>
