{% extends 'layouts/app.twig' %}
{% block pageclass %}auth{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}

{% include 'dashboard/header.twig' %}

<section class="dash">
    <div class="dash__container container">
        <h1>Welcome back, {{ auth.user.name }}!</h1>
        <h2>What would you like to do today?</h2>
        <div class="options container--full">
            <div class="column-6 cta">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.207 218.207"><path d="M214.31 27.276H3.897A3.895 3.895 0 0 0 0 31.172v155.862a3.895 3.895 0 0 0 3.897 3.897H214.31a3.895 3.895 0 0 0 3.897-3.897V31.172a3.895 3.895 0 0 0-3.897-3.896zM7.793 62.345h35.069v70.138H7.793V62.345zm202.621 70.138h-11.69V62.345h11.69v70.138zm0-77.931h-15.586a3.895 3.895 0 0 0-3.897 3.897v77.931a3.895 3.895 0 0 0 3.897 3.897h15.586v42.862H7.793v-42.863h38.966a3.895 3.895 0 0 0 3.897-3.897V58.448a3.895 3.895 0 0 0-3.897-3.897H7.793V35.069h202.621v19.483z"/><circle cx="113" cy="163.655" r="7.793"/><path d="M66.241 140.277h109.103a3.895 3.895 0 0 0 3.897-3.897V58.448a3.894 3.894 0 0 0-3.896-3.896H66.241a3.895 3.895 0 0 0-3.897 3.897v77.931a3.895 3.895 0 0 0 3.897 3.897zm3.897-77.932h101.31v70.138H70.138V62.345zM66.241 159.759h11.69v7.793h-11.69zM85.724 159.759h11.69v7.793h-11.69zM128.586 159.759h11.69v7.793h-11.69zM148.069 159.759h11.69v7.793h-11.69z"/></svg>
                <h3>Update a hero slide</h3>
                <a href="{{ path_for('hero.index') }}" class="button">Let's go!</a>
            </div>
            <div class="column-6 cta">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M55.517 46.55l-9.773-4.233c-.23-.115-.485-.396-.704-.771l6.525-.005c.114.011 2.804.257 4.961-.67a2.94 2.94 0 0 0 1.669-1.907 2.967 2.967 0 0 0-.426-2.523c-1.865-2.654-6.218-9.589-6.354-16.623-.003-.121-.397-12.083-12.21-12.18-1.739.014-3.347.309-4.81.853a8.316 8.316 0 0 0-1.488-2.459C30.854 3.688 27.521 2.5 23 2.5s-7.854 1.188-9.908 3.53c-2.368 2.701-2.148 5.976-2.092 6.525v5.319c-.64.729-1 1.662-1 2.625v4c0 1.217.553 2.352 1.497 3.109.916 3.627 2.833 6.36 3.503 7.237v3.309c0 .968-.528 1.856-1.377 2.32L4.702 45.34A9.02 9.02 0 0 0 0 53.262V57.5h60v-3.697a8.065 8.065 0 0 0-4.483-7.253zM44 55.5H2v-2.238a7.016 7.016 0 0 1 3.659-6.164l8.921-4.866A4.644 4.644 0 0 0 17 38.155v-4.019l-.233-.278c-.024-.029-2.475-2.994-3.41-7.065l-.091-.396-.341-.22A1.995 1.995 0 0 1 12 24.5v-4c0-.561.238-1.084.67-1.475l.33-.297V12.5l-.009-.131c-.003-.027-.343-2.799 1.605-5.021C16.253 5.458 19.081 4.5 23 4.5c3.905 0 6.727.951 8.386 2.828.825.932 1.24 1.973 1.447 2.867l.045.208c.014.071.029.142.04.21a12.777 12.777 0 0 1 .057.384c.015.124.027.244.035.355l.001.026a9.417 9.417 0 0 1 .016.354c.002.083.002.162.001.231v.03c-.004.235-.02.375-.02.378L33 18.728l.33.298c.432.39.67.913.67 1.474v4c0 .873-.572 1.637-1.422 1.899l-.498.153-.16.495a20.934 20.934 0 0 1-2.834 5.713c-.297.421-.586.794-.837 1.079l-.249.284v4.125c0 .253.025.501.064.745.008.052.022.102.032.154a4.692 4.692 0 0 0 .203.723c.078.209.169.411.275.605l.035.067c.145.256.312.499.504.723l.228.281h.039c.343.338.737.632 1.185.856l9.553 4.776A6.979 6.979 0 0 1 44 53.457V55.5zm14 0H46v-2.043a8.972 8.972 0 0 0-4.986-8.068l-6.858-3.43c.169-.386.191-.828.043-1.254a1.706 1.706 0 0 0-1.63-1.16h-2.217c-.046-.081-.076-.17-.113-.256-.05-.115-.109-.228-.142-.349a2.61 2.61 0 0 1-.097-.692v-3.381c.229-.28.47-.599.719-.951a22.886 22.886 0 0 0 2.954-5.799A3.968 3.968 0 0 0 36 24.5v-4c0-.963-.36-1.896-1-2.625v-5.319a8.799 8.799 0 0 0-.084-2.139c1.288-.506 2.731-.767 4.29-.78 9.841.081 10.2 9.811 10.21 10.221.147 7.583 4.746 14.927 6.717 17.732a.97.97 0 0 1 .139.827.934.934 0 0 1-.535.615c-1.68.723-3.959.518-4.076.513h-6.883c-.643 0-1.229.327-1.568.874a1.823 1.823 0 0 0-.086 1.783c.313.631.866 1.474 1.775 1.927l9.747 4.222A6.074 6.074 0 0 1 58 53.803V55.5z"/></svg>
                <h3>Add an instructor</h3>
                <a href="{{ path_for('instructors.index') }}" class="button">Let's go!</a>
            </div>
            <div class="column-6 cta">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58"><path d="M46 34c-6.617 0-12 5.383-12 12s5.383 12 12 12 12-5.383 12-12-5.383-12-12-12zm0 22c-5.514 0-10-4.486-10-10s4.486-10 10-10 10 4.486 10 10-4.486 10-10 10z"/><path d="M52 45h-5v-5a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2zM27 21H7v29h20V32h18V21H27zm9 2h7v7h-7v-7zm-18 0h7v7h-7v-7zm-9 0h7v7H9v-7zm0 9h7v7H9v-7zm7 16H9v-7h7v7zm9 0h-7v-7h7v7zm0-9h-7v-7h7v7zm9-9h-7v-7h7v7z"/><path d="M33 55H2V16h48v13a1 1 0 1 0 2 0V5a1 1 0 0 0-1-1h-5V1a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v3H15V1a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v3H1a1 1 0 0 0-1 1v51a1 1 0 0 0 1 1h32a1 1 0 1 0 0-2zm6-53h5v6h-5V2zM8 2h5v6H8V2zM2 6h4v3a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V6h22v3a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V6h4v8H2V6z"/></svg>
                <h3>Upload a class schedule</h3>
                <a href="{{ path_for('schedules.index') }}" class="button">Let's go!</a>
            </div>
            <div class="column-6 cta">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 611.932 611.932"><path d="M559.017 210.569H422.774V100.102c0-28.708-23.594-52.301-52.301-52.301H52.301C23.594 47.801 0 71.394 0 100.102v191.476c0 28.708 23.594 52.301 52.301 52.301h30.958l39.004 52.301c2.182 3.682 6.614 5.182 11.047 5.182s8.115-2.182 11.047-5.182l39.004-52.301h5.864v110.467c0 28.708 23.594 52.301 52.301 52.301H428.57l39.004 52.301c2.182 3.682 6.614 5.182 11.047 5.182s8.115-2.182 11.047-5.182l39.004-52.301h30.958c28.708 0 52.301-23.594 52.301-52.301V262.87c.069-28.776-23.456-52.301-52.914-52.301zM176.065 316.603c-4.432 0-8.115 2.182-11.047 5.182l-32.39 42.687-32.39-42.687c-2.182-3.682-6.614-5.182-11.047-5.182H50.869c-13.979 0-25.026-11.047-25.026-25.026V100.102c0-13.979 11.047-25.026 25.026-25.026h318.172c13.979 0 25.025 11.047 25.025 25.026v191.476c0 13.979-11.047 25.026-25.025 25.026H202.523l-26.458-.001zm408.727 137.743c0 13.979-11.047 25.026-25.025 25.026h-38.322c-4.432 0-8.115 2.182-11.047 5.182l-32.39 42.687-32.39-42.687c-2.182-3.682-6.614-5.182-11.047-5.182H241.595c-13.979 0-25.026-11.047-25.026-25.026V343.879h153.904c10.297 0 19.911-2.932 27.958-8.115h103.102c7.364 0 13.229-5.864 13.229-13.229 0-7.365-5.864-13.229-13.229-13.229h-81.009c2.182-5.182 2.932-11.047 2.932-17.661v-53.051h136.242c13.979 0 25.026 11.047 25.026 25.026v190.726h.068zm-70.712-55.983c0 7.364-5.864 13.229-13.229 13.229h-200.34c-7.364 0-13.229-5.864-13.229-13.229s5.864-13.229 13.229-13.229h200.34c7.297-.068 13.229 5.864 13.229 13.229zm-204.023-149.54h-199.59c-7.364 0-13.229-5.864-13.229-13.229s5.864-13.229 13.229-13.229h199.59c7.364 0 13.229 5.864 13.229 13.229.75 7.365-5.864 13.229-13.229 13.229zM97.238 159.018c0-7.364 5.864-13.229 13.229-13.229H230.48c7.364 0 13.229 5.864 13.229 13.229 0 7.364-5.864 13.229-13.229 13.229H110.467c-7.365-.001-13.229-5.865-13.229-13.229z"/></svg>
                <h3>Create a new testimony</h3>
                <a href="{{ path_for('testimonies.index') }}" class="button">Let's go!</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
